/* fichier Film.css */
  	
.film {
    display: flex ;
    margin: 15px ;
    border: 1px solid black ;
    align-items:flex-start;
}
.film img {
    width: 150px ;
    padding: 5px ;
}

.text  {
    padding: 20px;
}

.text p:nth-child(2)  {
    text-align: start;
}