.container {
    width: 80%;
    margin: auto;
}
ul  {
   list-style: none; 
}

ul li{
    padding: 20px;
}

.navigation_pages  {
    display: flex;
    justify-content: center;
}

button  {
    padding: 5px;
    background-color: lightcoral;
    font-size: 1.5rem;
    min-width: 200px;
    display: inline-block;
}